@media only screen and (max-width: 1400px) {
    .headers {
    justify-content: space-between;
    margin: 10px 20px;
  }
  .headers .logo{
    order: 1;
  }
  .headers .icons{
    order: 2;
  }
    nav ul {
      display: none;
    }
    .headers .languages{
        display: none;
    }
    .headers .menu .icon {
      display: flex;
      cursor: pointer;
    }
    .showData {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 100px;
      left: 0;
      background-color: rgb(218, 208, 208);
      width: 100%;
      height: 240px;
      text-align: center;
      padding: 0;
      gap: 22px;
      z-index: 5;
    }
  }
  @media only screen and (max-width: 768px){
    .slide{
      bottom: 5px;
      left: 55%;
    }
    .slide button {
      margin-bottom: 15px;
      padding: 5px 10px;
        
     }

     /* Word-worth section  */
    
    .word-worth h1 {
      padding: 26px 0 20px 0;
      font-size: 32px;
      
    }
    
    .word-worth p {
      
      font-size: 25px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }