@media only screen and (max-width: 1400px) {
  .headers {
    justify-content: space-between;
    margin: 0;
  }
  .headers .logo{
    width: 40%;
  }
  .headers .logo {
    order: 1;
  }

  .headers .icons {
    order: 2;
  }

  nav ul {
    display: none;
  }

  .headers .languages {
    /* display: none; */
    order: 1;
  }

  .headers .menu .icon {
    display: flex;
    cursor: pointer;
  }

  .showData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: rgb(218, 208, 208);
    width: 100%;
    height: 240px;
    text-align: center;
    padding: 0;
    gap: 22px;
    z-index: 5;
  }
}

@media only screen and (max-width: 768px) {
  .slide {
    bottom: 5px;
    left: 55%;
  }

  .slide button {
    margin-bottom: 15px;
    padding: 5px 10px;

  }

  /* Word-worth section  */

  .word-worth h1 {
    padding: 26px 0 20px 0;
    font-size: 32px;

  }

  .word-worth p {

    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Check-out section  */
  .check-out {
    margin-left: 20px;
    margin-right: 20px;
  }

  .check-out h1 {

    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .check-out .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .check-out .cards .card {
    width: 100%;
    margin: 5px;
  }

  .check-out .cards .card img {
    width: 100%;
    height: auto;
  }

  /* Testinomial Section  */
  .testinomial {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 70px;

  }

  .testinomial .cards {
    display: flex;
    flex-direction: column;
  }

  .testinomial .cards .card {
    width: 100%;
  }

  .testinomial .cards .card:hover {
    transform: scale(1.1);

  }




  .testinomial .cards .card .name {
    font-family: 'Futura Bk BT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    /* Headings */
    color: #1F1F1F;
  }
  .testinomial .circles{
    display: none;
  }

  /* Text-banner  */
  .text-banner .banners {
    margin: 0px 20px;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .text-banner .banners .banner {
    width: 100%;
    padding-bottom: 50px;
  }
  .text-banner .banners .line{
    display: none;
  }
 

}