@media only screen and (max-width: 1400px) {
  .headers {
    margin: 0px 10px;
  }

  .headers .logo {
    width: 50%;
  }

  .headers .logo {
    order: 1;
  }

  .headers .icons {
    order: 2;
  }

  nav ul {
    display: none;
  }

  .headers .languages {
    /* display: none; */
    order: 1;
  }

  .headers .menu .icon {
    display: flex;
    cursor: pointer;
  }

  .showData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: rgb(218, 208, 208);
    width: 100%;
    height: 260px;
    text-align: center;
    padding: 0;
    gap: 22px;
    z-index: 5;
  }
}

@media only screen and (max-width: 768px) {
  .slide {
    bottom: 5px;
    left: 55%;
  }

  .slide button {
    margin-bottom: 15px;
    padding: 5px 10px;
  }

  /* Hero Section  */
  .hero .navigation {
    left: 55%;
    transform: translateX(-55%);
    bottom: 10px;
  }

  .hero .navigation button {
    padding: 5px 10px;
    font-family: Poppins;
    margin-bottom: 5px;
  }

}