@font-face {
  font-family: FuturaMdBT;
  src: url(assets/fonts/futura_medium_bt.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.announcement-bar {
  background: var(--button, #DB6720);
}

.announcement-bar p {
  color: var(--Headings-And-Text, #F7F7F7);
  text-align: center;
  font-family: "FuturaMdBT";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}



.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 120px;
}

.headers .logo {
  width: 23%;
}

.headers .logo img {
  width: 100%;
  height: auto;
}

.headers .menu {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.headers .menu ul li {

  margin-inline: 20px;
}

.headers .menu ul li a {
  text-decoration: none;
  font-family: FuturaMdBT;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #1C1D1D;
}

.headers nav .icon {
  align-items: center;
  font-size: 30px;
  margin-right: 12px;
  display: none;
  width: 20px;
  height: 20px;

}

.headers nav .languages {
  margin-right: 10px;
}

.headers nav .languages span {
  font-family: FuturaMdBT;
  font-size: 14px;
  font-weight: 400;
}

.headers nav .languages .d {
  margin-left: 10px;
}

.headers .icons svg {
  margin-inline: 10px;

}

.headers .icons svg a {
  text-decoration: none;
}

/* Hero Section  */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  text-align: center;
}

.hero .navigation button {
  background: #DB6720;
  color: #FFFEFD;
  border: none;
  padding: 10px 30px;
  font-family: Poppins;
  margin-bottom: 40px;
  font-size: 13px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;

}